#search {
	margin-left: 20px;
}

#more {
	margin-right: 20px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

#sos {
	width: 200px;
	height: 200px;
	margin: 30px auto;
	border-radius: 50%;
	border: 2px solid #000;
	background-color: #800000;
	font-size: 4em;
}

.red {
	background-color: blue;
}